Install python 3.8.6 64 bit 
numpy==1.18.5
pycallgraph==1.0.1
tensorflow_gpu==2.3.0
opencv_python_headless==4.4.0.42
msgpack_python==0.5.6
Pillow==8.0.1
tensorflow==2.3.1

Install Unity HUB 
use Unity version 2019.3.13f1 when  you open the project
In Unity HUB there is ADD buton and the project Thesis should be open