player-connection-mode=Listen
player-connection-guid=40098675
player-connection-debug=1
player-connection-project-name=Thesis
player-connection-wait-timeout=-1
player-connection-ip=192.168.56.1
player-connection-ip=172.17.72.225
player-connection-ip=192.168.178.18
profiler-enable=1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
vr-enabled=0
hdr-display-enabled=0
