player-connection-mode=Listen
player-connection-guid=2022783580
player-connection-debug=0
player-connection-project-name=Thesis
player-connection-wait-timeout=-1
player-connection-ip=192.168.56.1
player-connection-ip=172.18.24.33
player-connection-ip=192.168.2.10
profiler-enable=1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
